@media (max-width: 550px) {
  .header{
    flex-direction:column;
  }
}

.header{
    align-items: "flex-start";
}

.menu-desktop{
    display: none;
}

@media (min-width: 990px) {
  .menu-desktop{
    display: block;
  }

  .header{
    align-items: "center";
  }

  .menu-mobile{
      display: none;
  }
}

#icon{
    margin-right:10px;
}